@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

.hind {
  font-family: "Hind Madurai";
  font-weight: 700;
  font-style: normal;
}

/* Header */

header {
  display: flex;
  margin: 20px 50px;
  justify-content: space-between;
}

.left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header figure {
  width: 50px;
}

.header-p {
  font-weight: bolder;
  color: #006747;
  font-size: 1.6rem;
  line-height: 1.5rem;
}

.common-btn {
  width: 120px;
  height: 50px;
  background-color: #41ff6b1a;
  border-radius: 35px;
}

.right-div {
  gap: 8px;
}

.right-div1 {
  align-items: center;
}

.right-div3 {
  text-align: center;
  vertical-align: middle;
  background-color: #00a63e;
  color: white;
}

/* Banner */

.banner {
  max-width: 1920px;
  height: 240px;
  background-color: #006747;
  margin-bottom: 2rem;
}

.emp {
  color: white;
  font-size: 2.5rem;
}

.govp {
  color: white;
  font-size: 1.2rem;
  font-weight: 400px;
}

/* Card section */

.card {
  margin: 1.9rem;
}

.common-card {
  max-width: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.bottom-btn {
  width: 7000px;
  height: 2.8rem;
  border: 2px solid black;
}

.history-part {
  margin-bottom: 1rem;
}

/* Responsive */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .left-div {
    margin-bottom: 1rem;
  }
  .banner {
    max-width: auto;
    height: auto;
  }
  .banner p {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .bnr-p2 {
    text-align: center;
  }
  .card-part {
    grid-template-columns: 1fr;
  }
  #fst-clmn {
    grid-template-columns: 1fr;
  }
  .history-part {
    
    margin-bottom: 1rem;
    column-span: 12;
  }

  
}
